[submodule ".config/alacritty/alacritty-themes"]
	path = .config/alacritty/alacritty-themes
	url = https://github.com/alacritty/alacritty-theme
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/kennybeeutomo/nvim
