@import "wal.css";
@import "wal-extra.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
}

window#waybar {
    background-color: @background-rgba;
    border-bottom: 1px solid @color14;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
	margin: 3px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @color14;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @foreground;
}

#workspaces button.active {
    padding: 0 5px;
    background: @color12;
    color: @background;
}

#workspaces button.urgent {
    background-color: @color9;
}

#clock,
#battery,
#cpu,
#cava,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
	padding: 0px;
    padding-left: 10px;
    padding-right: 10px;

    color: @color0;
    background-color: @color12;

	border-radius: 4px;

	margin: 3px;
}

#window,
#workspaces {
}

/*.modules-left > widget:first-child > #workspaces {*/
/*    margin-left: 0;*/
/*}*/

/*.modules-right > widget:last-child > #workspaces {*/
/*    margin-right: 0;*/
/*}*/

@keyframes blink {
    to {
        background-color: @color9;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.1s;
    animation-timing-function: steps(60);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background-color: @color9;
}

#wireplumber.muted {
    background-color: @color9;
}

#temperature.critical {
    background-color: @color9;
}
