configuration {
	modes: "combi";
	font: "JetBrainsMono Nerd Font 16";
	show-icons: true;
	terminal: "kitty";
	icon-theme: "hicolor";
	drun-display-format: "  {name}";
	case-sensitive: false;
	combi-modes: "drun,run";
	matching: "normal,fuzzy";

	kb-remove-char-forward: "Delete";
	kb-remove-to-eol: "";
	kb-remove-to-sol: "";
	kb-accept-entry: "Return";
	kb-element-next: "Ctrl+j,Tab";
	kb-element-prev: "Ctrl+k,ISO_Left_Tab";
	kb-page-prev: "Ctrl+u";
	kb-page-next: "Ctrl+d";
	kb-matcher-up: "Ctrl+comma";
	kb-mather-down: "Ctrl+period";
}

@theme "pywal"
