[Desktop Entry]
Name=Neovim
Exec=alacritty --class 'ThunarNvim' -e nvim %F
Terminal=false
Type=Application
Keywords=Text;editor;
Icon=nvim
Categories=Utility;TextEditor;
StartupNotify=falseRuiner
